body {
    background-color: rgb(26, 30, 37);
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-family: "friz quadrata std";
}

#df-logo {
    width: 400px;
}

header {
    display: grid;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 10%, 80%, 10%;
    column-gap: 20px;
}

#navigation-bar {
    display: grid;
    grid-column: 1 / 2;
    justify-self: start;
    padding-left: 0px;
    background-color:rgb(13, 16, 22);
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
}

#navigation-bar-elements {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#navigation-bar-title {
    text-align: center;
    color: rgb(248, 234, 157);
    font-weight: normal;
}

#navigation-bar-elements>li {
    position: relative;
    display: inline-block;
}

#navigation-bar-elements>li>img {
    width: 150px;
    display: block;
    transition: transform 0.3s ease-in-out;
    position: relative;
    right: 15%;
}

#navigation-bar-elements>li>img:hover {
    transform: scale(1.2);
}


#navigation-bar-elements>li>span {
    position: absolute; /* Posiciona el texto relativo al contenedor padre */
    bottom: 0; /* Sitúa el texto en la parte inferior del contenedor */
    left: 0; /* Sitúa el texto al inicio del contenedor */
    width: 100%; /* Hace que el texto ocupe todo el ancho del contenedor */
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: #fff; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px 0; /* Padding vertical para el texto */
    opacity: 0; /* Oculta el texto inicialmente */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    transform: translate(-15%, 0%);
    border-radius: 5px;
}


#navigation-bar-elements>li:hover span {
    opacity: 1;
}

#description {
    grid-column: 2 / 3;
    background-color: rgb(43, 50, 61);
    margin-top: 50px;
    padding: 50px;
    color: rgb(248, 234, 157);
    border-radius: 10px;
}

#video {
    text-align: center;
}

#right-bar {
    grid-column: 3 / 4;
    justify-self: end;
    margin-right: 20px;
    text-align: center;
    font-weight: normal;
    color: rgb(248, 234, 157);
}

footer {
    display: grid;
    justify-content: center;
}

#footer-title {
    text-align: center;
    font-weight: normal;
    color: rgb(13, 16, 22);
}

#social-media-items {
    display: flex;
    list-style: none;
}

#social-media-items>li {
    padding-right: 50px;
    scale: 150%;
}

#social-media-items>li>a {
    color: rgb(13, 16, 22);
}

#social-media-items>li>a:hover {
    color: rgb(248, 234, 157);
    transition: 0.5s;
}

#social-media-items>li>a:active {
    color: white;
}

/* #carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding-right: 10px;
    animation: slide 50s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% * 3));
    }
}

.carousel-item>img {
    height: 400px;
}
*/ 