body {
    background-color: #8a4306;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-family: "friz quadrata std";
}

#df-logo {
    width: 400px;
}

header {
    display: grid;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 10%, 80%, 200px;
    column-gap: 20px;
}

#navigation-bar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
    padding-left: 0px;
    background-color:#3d1e02;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
}

#navigation-bar-elements {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#navigation-bar-title {
    text-align: center;
    color: rgb(248, 234, 157);
    font-weight: normal;
}

#navigation-bar-elements>li {
    position: relative;
    display: inline-block;
}

#navigation-bar-elements>li>a>img {
    width: 150px;
    display: block;
    transition: transform 0.3s ease-in-out;
    position: relative;
    right: 15%;
    z-index: 1;
}

#navigation-bar-elements>li>a>img:hover {
    transform: scale(1.2);
}


#navigation-bar-elements>li>span {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.7);
    text-align: center; 
    padding: 10px 0; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    transform: translate(-15%, 0%);
    border-radius: 5px;
    z-index: 2;
}


#navigation-bar-elements>li:hover span {
    opacity: 1;
}

#description {
    grid-column: 2 / 3;
    background-color: #ff7c0abe;
    margin-top: 50px;
    padding: 50px;
    color: rgb(248, 234, 157);
    border-radius: 10px;
}

#description-title {
    text-align: center;
    font-weight: normal;
}

#specialization-title {
    text-align: center;
    font-weight: normal;
}

#specialization-videos {
    padding-top: 30px;
}

#specialization-videos>ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 50px;
}

#specialization-videos>ul>li {
    padding-right: 20px;
}

#specialization-videos>ul>li>img {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#specialization-videos>ul>li>img:hover {
    transform: scale(1.2);
}

#specialization-videos>ul>li>span {
    display: block;
    text-align: center;
}

#specialization-videos>iframe {
    transform: translateX(48%);
}

#right-bar {
    grid-column: 3 / 4;
    justify-self: end;
    margin-right: 20px;
    text-align: center;
    font-weight: normal;
    color: rgb(248, 234, 157);
}

#right-bar>iframe {
    border: 2px solid rgb(255, 235, 123);
    animation: color-change 4s infinite;
}

@keyframes color-change {
    25% {
        border-color: rgb(161, 252, 109);
    }
    50% {
        border-color: rgb(102, 252, 239);
    }
    75%{
        border-color: rgb(130, 109, 253);
    }
}

#right-bar-continents {
    background-color: rgba(255, 235, 123, 0.151);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#continents {
    font-weight: normal;
    color: rgb(133, 255, 163);
}

#continents-list {
    list-style: none;
    transform: translateX(-5%);
}

#continents-list>li>a {
    text-decoration: none;
}

#mounts {
    color: rgb(248, 234, 157);
    text-decoration: none;
    background-color: rgb(1, 42, 119);
    padding: 10px;
    border-style: inset;
}

#mounts:hover {
    color: rgb(255, 183, 115);
    background-color: rgb(72, 34, 107);
    transition: 0.5s;
}

#survey-info {
    color: rgb(253, 190, 118);
}

#survey-title {
    color: rgb(248, 234, 157);
    font-weight: normal;
    text-align: center;
}

#survey {
    display: grid;
    justify-content: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    max-width: 270px;
    background-color: rgb(114, 21, 21);
    margin-top: 20px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 10px;
}

#survey:hover {
    color: rgb(114, 21, 21);
    background-color: rgb(170, 170, 170);
    border-color: rgb(114, 21, 21);
    transition: 0.7s;
}

#right-bar>img {
    display: block;
    width: 300px;
    border-radius: 12px;
    margin-top: 20px;
}

footer {
    display: grid;
    justify-content: center;
}

#footer-title {
    text-align: center;
    font-weight: normal;
    color: #3d1e02;
}

#social-media-items {
    display: flex;
    list-style: none;
}

#social-media-items>li {
    padding-right: 50px;
    scale: 150%;
}

#social-media-items>li>a {
    color: #3d1e02;
}

#social-media-items>li>a:hover {
    color: rgb(248, 234, 157);
    transition: 0.5s;
}

#social-media-items>li>a:active {
    color: white;
}
